<!DOCTYPE html>
<html lang="<%=htmlWebpackPlugin.options.lang%>">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#000000" />

  <link rel="shortcut icon" href="%PUBLIC_URL%/static/favicon.ico" />

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="root"></div>
  <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  <script>
    // It will be format as window.$CSRDATA= { /** Your own csrData **/ }
    window.$CSRDATA = <%= JSON.stringify(htmlWebpackPlugin.options.csrData) %>
  </script>
</body>

</html>